diffusers==0.30.3
ehtim==1.2.10
-e git+https://github.com/liamedeiros/ehtplot.git@5222b90e353e3e34d05746b7add1f3628ac945e0#egg=ehtplot
gdown==5.2.0
huggingface-hub==0.30.2
hydra-core==1.3.2
imageio==2.35.1
imageio-ffmpeg==0.5.1
piq==0.8.0
torchdiffeq==0.2.4
wandb==0.19.9